.screen-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons {
    margin-top: 8px;
}

.screen-header__icons span {
    position: relative;
    margin-left: 20px;
}

.screen-header__icons span .badge {
    left: 20px;
    bottom: 20px;
}

@keyframes rotateGear {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateGear 1.5s linear infinite;
}